@tailwind base;
@tailwind components;
@tailwind utilities;

h1, .heading-h1 {
  font-size: 50px;
  font-weight: bold;
}

h2, .heading-h2 {
  font-size: 28px;
  font-weight: bold;
}

h3, .heading-h3 {
  font-size: 24px;
  font-weight: bold;
}

h4, .heading-h4 {
  font-size: 20px;
  font-weight: bold;
}

h5, .heading-h5 {
  font-size: 18px;
  font-weight: bold;
}

h6, .heading-h6 {
  font-size: 16px;
  font-weight: bold;
}

p {
  font-size: 20px;
}

html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}