---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me"
const identity = {
	firstName: "Arun",
	lastName: "Krishnan",
	age: 20
}
---
<BaseLayout pageTitle={pageTitle}>
	<h1 class="">{pageTitle}</h1>
	<p class="">Hello i'm {identity.firstName + identity.lastName}, Web Security Researcher and CTF player@teambi0s, Blog's under constant work and will improve drastically later on </p>
</BaseLayout>

