---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me"
const identity = {
	firstName: "Arun",
	lastName: "Krishnan",
	age: 20
}
---

<BaseLayout pageTitle={pageTitle}>
	<p class="text-2xl">Hello i'm {identity.firstName + identity.lastName}, Web Security Researcher and CTF player@teambi0s, Blog's under constant work and will improve drastically later on </p>
</BaseLayout>
