---
import BaseLayout from '../layouts/BaseLayout.astro'
const allPosts = await Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "Blog";
---
<BaseLayout pageTitle={pageTitle}>
    <h1 class="">{pageTitle}</h1>
    {allPosts.map((post: any) => <li class=""><a href={post.url}>{post.frontmatter.title}</a></li>)}
</BaseLayout>