---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogCard from '../components/BlogCard.astro';  
const allPosts = await Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---

<BaseLayout title="Blog">
	<div id="main_blog_container">
        <div id="blog">
            <div id="blog_img">
                <img src="/blog.png">
            </div>
            <div id="blog_contents">
                {allPosts.map((post: any) => <BlogCard url={post.url} title={post.frontmatter.title} description={post.frontmatter.description} date={post.frontmatter.pubDate.slice(0,10)}/>)}
            </div>
        </div>
    </div>
</BaseLayout>

<style>

    @font-face {
        font-family: 'Terminus';
        src: url('/fonts/TerminusModern.ttf') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

	#main_blog_container{
        display: flex;
        justify-content: center;    
        height: 100%;
        width: 100%;
        font-family: 'Terminus';
    }

    #blog{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 80%;
    }

    #blog_img{
        height: 20%;
        display: flex;
        justify-content: flex-start;
    }

    #blog_img img {
        max-width: 100%;
        max-height: 100%;  
        height: auto;     
        object-fit: contain; 
    }

    #blog_contents {
        height: 80%;
        width: 100%;
    }
</style>