---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Home">
	<div id="landing_container">
		<div id="main_title">
			<img id="main_img" src="/winters.png" alt="Winters">
		</div>
	</div>

</BaseLayout>

<style>
	#main_title {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
	}

	#landing_container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
	}

	@media (max-width: 768px) {
		#main_img {
			max-width: 100%;
		}
	}

	@media (max-width: 480px) {
		#main_img {
			max-width: 100%;
		}
	}
</style>