---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Home">
	<div id="main_title">
		<img src="/winters.png" alt="">
	</div>
</BaseLayout>

<style>
	#main_title {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		height: 100%;
	}
</style>