---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from '../components/Greeting';
---

<BaseLayout pageTitle="Winters">
	<h1>Hello</h1>
	<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>