---
import Navigation from "./Navigation.astro";
import ThemeIcon from './ThemeIcon.astro';
import '../styles/global.css';
---

<header>
    <nav class="flex justify-between">
        <Navigation />
        <ThemeIcon />
    </nav>
</header>