---
import Social from "./Social.astro"
---
<div class="">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/blog">Blog</a>
  <a href="/tags/">Tags</a>
  <Social platform="twitter" username="ArunKr1shnan" />
  <Social platform="github" username="winters0x64" />
</div>
