---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const {pageTitle} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="w-full h-full flex flex-col min-h-screen">
    <Header />
    <main class="flex-grow mt-8">
      <h1 class="text-purple-600 text-9xl font-bold mb-8">{pageTitle}</h1>
      <slot />
    </main>
    <Footer />
  </body>
</html>